{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
{% if error %}
<div class="alert alert-error"><strong>ERROR:</strong> {{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}

<h1 class="col-sm-offset-2 col-sm-10">Login</h1>

<form role="form" action="{{ path("fos_user_security_check") }}" method="post" class="form col-sm-offset-2 col-sm-5">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <div class="form-group">
        <label class="control-label" for="username">
            {{ 'security.login.username'|trans({}, 'FOSUserBundle') }}
        </label>

        <div class="input-group">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-user"></span>
            </span>
            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control" placeholder="Username">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label" for="password">
            {{ 'security.login.password'|trans({}, 'FOSUserBundle') }}
        </label>
        
        <div class="input-group">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-lock"></span>
            </span>
            <input type="password" id="password" name="_password" required="required" class="form-control" placeholder="Password">
        </div>
    </div>

    <div class="form-group">
        <div class="checkbox">
            <label for="remember_me">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on">
                {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
            </label>
        </div>
    </div>

    <div class="form-group">
        <button class="btn btn-primary" type="submit" id="_submit" name="_submit">{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}</button>
    </div>
</form>
{% endblock fos_user_content %}
