{% extends 'GizmoCapoBundle::base.html.twig' %}
{% block subtitle %} - settings - API accounts{% endblock %}

{% block contents %}
<div class="row-fluid">
    <div id="error_container"></div>
    <div class="well well-large" id="search_box">
        <ul class="nav nav-tabs">
            <li><a href="{{ path('gizmo_capo_settings_saved_selections') }}">Saved selections</a></li>
            <li class="pull-right"><a href="{{ path('gizmo_capo_settings_event_log') }}">Event log</a></li>
            <li class="pull-right"><a href="{{ path('gizmo_capo_settings_cacti_instances') }}">Cacti instances</a></li>
            <li class="active pull-right"><a href="{{ path('gizmo_capo_settings_api_accounts') }}">API accounts</a></li>
            <li class="pull-right"><a href="{{ path('gizmo_capo_settings_groups') }}">Groups</a></li>
            <li class="pull-right"><a href="{{ path('gizmo_capo_settings_users') }}">Users</a></li>
        </ul>
        <div class="container pull-left" style="width:100%;margin-bottom: 10px;">
            <div class="control-group">
                <div class="controls">
                    <form class="navbar-form form-search pull-left" id="search-form">
                        <div class="input-prepend" style="width:90%">
                            <span class="add-on" style="border-radius: 14px 0px 0px 14px;"><i class="icon-search"></i></span>
                            <input id="filter_1" type="text" placeholder="Search">
                        </div><!-- /.input-prepend -->
                    </form>
                    <div class="control-group pull-left" style="padding-top:15px;">
                        <label class="checkbox" for="active_accounts_only"><input type="checkbox" name="active_accounts_only" id="active_accounts_only" value="0" checked="checked"> active accounts only</label>
                    </div>
                    <form class="navbar-form pull-right" id="add-account-form" style="margin-left: 50px;">
                        <input type="text" value="" placeholder="Username" id="new-account-name">
                        <input type="submit" value="Add account" class="btn">
                    </form>
                </div><!-- /.controls -->
            </div><!-- /.control-group -->
        </div><!-- /.container -->
        <div id="results" class="settings">
            <table class="table table-hover">
                <thead>
                    <tr><th class="username">Username</th><th class="secret">Secret</th><th class="actions">Actions</th><th class="active">Active</th></tr>
                </thead>
                <tbody id="results_list">
                    <tr><td class="username"></td><td class="secret"></td><td class="actions"></td><td class="active"></td></tr>
                </tbody>
            </table>
        </div>
        <p class="muted" id="result_count"></p>
    </div><!-- /.well -->
</div><!-- /.row-fluid -->
{% endblock %}

{% block bottom %}
{% javascripts filter=''
'bundles/gizmocapo/js/capo.settings.api_accounts.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

<script>
    $(document).ready(function() {
        var cfg = {
            'base_url': '{{ app.request.baseUrl }}/'
        };

        CAPO.init(cfg);
        CAPO.settings.api_accounts.init();
    });
</script>
{% endblock %}
