{% extends 'GizmoCapoBundle::base.html.twig' %}
{% block subtitle %} - settings - cacti instances{% endblock %}

{% block contents %}
<div class="row-fluid">
    <div id="error_container"></div>
    <div class="well well-large" id="search_box">
        <ul class="nav nav-tabs">
            <li><a href="{{ path('gizmo_capo_settings_saved_selections') }}">Saved selections</a></li>
            <li class="pull-right"><a href="{{ path('gizmo_capo_settings_event_log') }}">Event log</a></li>
            <li class="active pull-right"><a href="{{ path('gizmo_capo_settings_cacti_instances') }}">Cacti instances</a></li>
            <li class="pull-right"><a href="{{ path('gizmo_capo_settings_api_accounts') }}">API accounts</a></li>
            <li class="pull-right"><a href="{{ path('gizmo_capo_settings_groups') }}">Groups</a></li>
            <li class="pull-right"><a href="{{ path('gizmo_capo_settings_users') }}">Users</a></li>
        </ul>
        <div class="container" style="width:100%;margin-bottom: 10px;">
            <div class="control-group">
                <div class="controls">
                    <form class="navbar-form form-search pull-left" id="search-form">
                        <div class="input-prepend" style="width:90%">
                            <span class="add-on" style="border-radius: 14px 0px 0px 14px;"><i class="icon-search"></i></span>
                            <input id="filter_1" type="text" placeholder="Search">
                        </div><!-- /.input-prepend -->
                    </form>
                    <form class="navbar-form pull-right" id="add-cacti-instance-form">
                        <input type="text" value="" placeholder="Name" id="new-cacti-instance-name">
                        <input type="text" value="" placeholder="Base URL" id="new-cacti-instance-url">
                        <input type="submit" value="Add" class="btn">
                    </form>
                </div><!-- /.controls -->
            </div><!-- /.control-group -->
        </div><!-- /.container -->
        <div id="results" class="settings">
            <table class="table table-hover">
                <thead>
                    <tr><th class="cacti-instance">Cacti Instance</th><th class="url">Base URL</th><th>Import date</th><th>Queue Import</th><th>Active</th></tr>
                </thead>
                <tbody id="results_list">
                    <tr><td class="cacti-instance"></td><td class="url"></td><td class="import_date"></td><td class="queue_import"></td><td class="active"></td></tr>
                </tbody>
            </table>
        </div>
        <p class="muted" id="result_count"></p>
    </div><!-- /.well -->
</div><!-- /.row-fluid -->
{% endblock %}

{% block bottom %}
{% javascripts filter=''
'bundles/gizmocapo/js/capo.settings.cacti_instances.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

<script>
    $(document).ready(function() {
        var cfg = {
            'base_url': '{{ app.request.baseUrl }}/'
        };

        CAPO.init(cfg);
        CAPO.settings.cacti_instances.init();
    });
</script>
{% endblock %}
