{% extends 'GizmoCapoBundle::base.html.twig' %}
{% block subtitle %} - settings - saved selections{% endblock %}

{% block contents %}
<div class="row-fluid">
    <div id="error-container"></div>
    <div class="well well-large" id="search-box">
        {% if data.user_has_access %}
        <ul class="nav nav-tabs">
            <li class="active"><a href="{{ path('gizmo_capo_settings_saved_selections') }}">Saved selections</a></li>
            {% if data.user_is_admin %}
            <li class="pull-right"><a href="{{ path('gizmo_capo_settings_event_log') }}">Event log</a></li>
            <li class="pull-right"><a href="{{ path('gizmo_capo_settings_cacti_instances') }}">Cacti instances</a></li>
            <li class="pull-right"><a href="{{ path('gizmo_capo_settings_api_accounts') }}">API accounts</a></li>
            <li class="pull-right"><a href="{{ path('gizmo_capo_settings_groups') }}">Groups</a></li>
            <li class="pull-right"><a href="{{ path('gizmo_capo_settings_users') }}">Users</a></li>
            {% endif %}
        </ul>

        <p>
            <form role="form" class="form-inline">
                <input type="hidden" class="bigdrop saved-selections-select" id="saved-selections-select"/>
                <button type="button" class="btn btn-danger" style="margin-left: 25px;" id="btn-delete-saved-selection"><span class="glyphicon glyphicon-remove"></span> delete graph selection</button>
                <div class="input-append">
                    <input type="text" id="graph-selection-new-name" placeholder="New name" class="form-control">
                    <button type="button" class="btn btn-default" id="btn-rename-graph-selection">Rename</button>
                </div>
            </form>
        </p>
        
        <div id="results" class="settings">
            <table class="table table-hover">
                <thead>
                    <tr><th class="cacti-instance">Cacti Instance</th><th class="graph">Graph</th><th>Position</th></tr>
                </thead>
                <tbody id="results-list">
                    <tr><td class="cacti-instance"></td><td class="graph"></td><td class="position"></td></tr>
                </tbody>
            </table>
        </div>
        <p class="muted" id="result-count"></p>
        {% else %}
            <div style="text-align: center;">
            <h4 class="error">Successfully logged in, but your group does not have access to any Cacti instances yet.</h4>
            </div>
        {% endif %}
    </div><!-- /.well -->
</div><!-- /.row-fluid -->
{% endblock %}

{% block bottom %}
{% javascripts filter=''
'bundles/gizmocapo/js/capo.settings.saved_selections.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

<script>
    $(document).ready(function() {
        var cfg = {
            'base_url': '{{ app.request.baseUrl }}/'
        };

        CAPO.init(cfg);
        CAPO.settings.saved_selections.init();
    });
</script>
{% endblock %}
